
html,
body {
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    width: 100%;
    background: url(beegee.jpg) no-repeat bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto auto auto 0.75fr;
    gap: 5px;
    grid-template-areas:
    "."
    "titt"
    "blurb" 
    "butter"
    ".";
    justify-items: center;
    align-items: center;
    
}

header {
    grid-area: titt;
    width: max-content;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5vw;
    align-items: flex-end;
}

h1 {
    font-size: 2.5rem;
    color: rgb(226, 166, 53);

}

#intro {
    grid-area: blurb;
    color: white;
}
p {
    width: 75vw;
    justify-self: center;
    text-align: center;
    align-items: flex-start;
    margin-bottom: 9vw;
}

#begin {
    width: 13vh;
    height: 5vh;
    grid-area: butter;
    background-color: rgb(31, 168, 31);
    border: none;
    border-radius: 45px;
    box-shadow: 5px 5px 3px black;
    font-family: 'Quicksand', sans-serif;
    margin-top: 4vw;
    color: black;
}