*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html,
body {
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    width: 100%;
    background: url(beegee.jpg) no-repeat bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto auto auto 0.75fr;
    gap: 5px;
    grid-template-areas:
    "."
    "titt"
    "blurb" 
    "butter"
    ".";
    justify-items: center;
    align-items: center;
    
}

input[type="text"], input[type="email"], #yearselector{
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    border: none;
}

#yearselector {
    color: black;
}

input[type="radio"]{
    margin-left: 9px;
    margin-top: 4px;
}

header {
    grid-area: titt;
    margin-bottom: 9vh;
}

h1 {
    font-size: 2.5rem;
    color: rgb(226, 166, 53);
    text-align: center;

}

.contents {
    grid-area: blurb;
    text-align: center;
}

.contents #continue {
    justify-self: center;
}

.field, #survey {
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.field {
    width: 80vw;
    justify-self: center;
    text-align: center;
    align-items: flex-start;
    font-size: 1.5rem;
    padding: 0.7rem;
}

#options {
    display: inline-block;
    text-align: right;
    margin-bottom: 1em;
    margin-top: 1em;
}

#likert {
    display: inline-block;
    margin-top: 5vh;
}
.radiogroup {
    display: flex;
    justify-content: space-between;
}

.radiogroup label {
    display: block;
}

#surveybuttonzone {
    grid-area: butter;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.buttonplacement {
    grid-area: butter;
}

.surveybutton {
    width: 6rem;
    height: 3rem;
    background-color: rgba(22, 190, 22, 0.6);
    border: none;
    border-radius: 45px;
    box-shadow: 5px 5px 3px black;
    font-family: 'Quicksand', sans-serif;
    margin-top: 8vh;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}

.surveybutton:hover {
    background-color: rgba(142, 218, 142, 0.6);
    border: black;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .field {
        width: 55vw;
        justify-self: center;
        text-align: center;
        align-items: flex-start;
        font-size: 1.5rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }

    #surveybuttonzone {
        grid-area: butter;
        width: 35vw;
        display: flex;
        justify-content: space-between;
    }

    #likert {
        display: flex;
        justify-content: space-around;
    }
    
    .radiogroup {
        display: inline-block;
        text-align: center;
    }
    
    .radiogroup label {
        display: block;
        
    }
    .rlabel {
        width: min-content;
    }

    .surveybutton {
        width: 6rem;
        height: 3rem;
        grid-area: butter;
        background-color: rgba(22, 190, 22, 0.6);
        border: none;
        border-radius: 45px;
        box-shadow: 5px 5px 3px black;
        font-family: 'Quicksand', sans-serif;
        margin-top: 8vh;
        font-size: 1rem;
        color: black;
        text-decoration: none;
        margin-bottom: 20px;
    }
    
    .surveybutton:hover {
        background-color: rgba(142, 218, 142, 0.6);
        border: black;
        text-decoration: none;
    }

}


@media only screen and (max-width: 233px) {

    .surveybutton {
        width: 6rem;
        height: 3rem;
        grid-area: butter;
        background-color: rgba(22, 190, 22, 0.6);
        border: none;
        border-radius: 45px;
        box-shadow: 5px 5px 3px black;
        font-family: 'Quicksand', sans-serif;
        margin-top: 2vh;
        font-size: 1rem;
        color: black;
        text-decoration: none;
        margin-bottom: 20px;
    }
    
    #surveybuttonzone {
        grid-area: butter;
        width: 80vw;
        display: block;
        justify-content: center;
    }

}


label {
    font-size: 1rem;
}